@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    /* border: 2px solid red; */
}
/* Header and Navbar */
.header{
    background-color: #1F2937;
}

nav{
    display: flex;
    margin: auto;
    width: 80%;
    pad: 16px 0px;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}
.nav-links{
    font-size: 18px;
    color: #E5E7EB;
}
.hero{
    display: flex;
    margin: 0px;
    height: 500px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.hero-main-div{
    width: 35%;
}
h1{
    display: block;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.header .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-div p {
    margin: 20px;
    margin-left: 0px;
}
.know-more-btn{
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
}

.hero-img img{
    width: 500px;
}
/* Legendary Moments */

.legendary-moments{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    width: 70%;
    height: 500px;
}

.moments-header{
    margin: 10px auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.pictures{
    display: flex;
    justify-content: space-around;
}

.imgs{
    width: 200px;
}

img{
    max-width: 100%;
    height: auto;
}

.legendary-moments p{
    color: #1f2937;
    font-size: 16px;
    font-weight: 500;
}



